{"openapi":"3.0.1","info":{"title":"Intervals.icu API","version":"v1.0.0"},"servers":[{"url":"https://intervals.icu","description":"Generated server url"}],"security":[{"APIKey":[],"AccessToken":[]}],"paths":{"/api/v1/shared-event/{id}":{"get":{"tags":["Shared Events"],"summary":"Get a shared event (e.g. race)","operationId":"getSharedEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SharedEvent"}}}}}},"put":{"tags":["Shared Events"],"summary":"Update a shared event (e.g. race)","operationId":"updateSharedEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedEvent"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SharedEvent"}}}}}},"delete":{"tags":["Shared Events"],"summary":"Delete a shared event (e.g. race)","operationId":"deleteSharedEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/chats/{id}/messages/{msgId}/seen":{"put":{"tags":["Chats"],"summary":"Update last seen message for the chat","operationId":"updateLastSeenMessageId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"msgId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/athlete/{id}/workouts/{workoutId}":{"get":{"tags":["Library"],"summary":"Get a workout","operationId":"showWorkout","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"workoutId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Workout"}}}}}},"put":{"tags":["Library"],"summary":"Update a workout","operationId":"updateWorkout","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"workoutId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkoutEx"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Workout"}}}}}},"delete":{"tags":["Library"],"summary":"Delete a workout (and optionally others added at the same time if the workout is on a plan)","description":"Returns the ids of the deleted workout(s)","operationId":"deleteWorkout","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"workoutId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"others","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}}},"/api/v1/athlete/{id}/wellness/{date}":{"get":{"tags":["Wellness"],"summary":"Get wellness record for date (local ISO-8601 day)","operationId":"getRecord","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"date","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Wellness"}}}}}},"put":{"tags":["Wellness"],"summary":"Update the wellness record for the date (ISO-8601)","description":"Only fields provided are changed","operationId":"updateWellness","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"date","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Wellness"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Wellness"}}}}}}},"/api/v1/athlete/{id}/wellness-bulk":{"put":{"tags":["Wellness"],"summary":"Update an array of wellness records all for the same athlete","description":"The id of each record is the day (ISO-8601). Only fields provided are changed","operationId":"updateWellnessBulk","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Wellness"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/wellness":{"put":{"tags":["Wellness"],"summary":"Update a wellness record, id is the day (ISO-8601)","description":"Only fields provided are changed","operationId":"updateWellness_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Wellness"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Wellness"}}}}}},"post":{"tags":["Wellness"],"summary":"Upload wellness records in CSV format as multipart/form-data","operationId":"uploadWellness","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ignoreMissingFields","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/athlete/{id}/weather-config":{"get":{"tags":["Weather"],"summary":"Get the athlete's weather forecast configuration","operationId":"getWeatherConfig","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeatherConfig"}}}}}},"put":{"tags":["Weather"],"summary":"Update the athlete's weather forecast configuration","operationId":"updateWeatherConfig","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WeatherConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeatherConfig"}}}}}}},"/api/v1/athlete/{id}/training-plan":{"get":{"tags":["Athletes"],"summary":"Get the athlete's training plan","operationId":"getAthleteTrainingPlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AthleteTrainingPlan"}}}}}},"put":{"tags":["Athletes"],"summary":"Change the athlete's training plan","operationId":"updateAthletePlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AthleteTrainingPlanUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AthleteTrainingPlan"}}}}}}},"/api/v1/athlete/{id}/routes/{route_id}":{"get":{"tags":["Routes"],"summary":"Get a route for an athlete","operationId":"getAthleteRoute","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"route_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includePath","in":"query","description":"Include latlngs for the route GPS path","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AthleteRoute"}}}}}},"put":{"tags":["Routes"],"summary":"Update a route for an athlete","operationId":"updateAthleteRoute","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"route_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AthleteRoute"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AthleteRoute"}}}}}}},"/api/v1/athlete/{id}/gear/{gearId}/reminder/{reminderId}":{"put":{"tags":["Gear"],"summary":"Update a reminder","operationId":"updateReminder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}},{"name":"reminderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"reset","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"snoozeDays","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GearReminder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Gear"}}}}}},"delete":{"tags":["Gear"],"summary":"Delete a reminder","operationId":"deleteReminder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}},{"name":"reminderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Gear"}}}}}}},"/api/v1/athlete/{id}/gear/{gearId}":{"put":{"tags":["Gear"],"summary":"Update a gear or component","operationId":"updateGear","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Gear"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Gear"}}}}}},"delete":{"tags":["Gear"],"summary":"Delete a gear or component","operationId":"deleteGear","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/folders/{folderId}/workouts":{"put":{"tags":["Library"],"summary":"Update a range of workouts on a plan. Currently only hide_from_athlete can be changed","operationId":"updatePlanWorkouts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"oldest","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"newest","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workout"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Workout"}}}}}}}},"/api/v1/athlete/{id}/folders/{folderId}/shared-with":{"get":{"tags":["Library"],"summary":"List athletes that the folder or plan has been shared with","operationId":"listFolderSharedWith","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedWith"}}}}}}},"put":{"tags":["Library"],"summary":"Add/remove athletes from the share list for the folder","operationId":"updateFolderSharedWith","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedWith"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedWith"}}}}}}}},"/api/v1/athlete/{id}/folders/{folderId}":{"put":{"tags":["Library"],"summary":"Update a workout folder or plan","operationId":"updateFolder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Folder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Folder"}}}}}},"delete":{"tags":["Library"],"summary":"Delete a workout folder or plan including all workouts","operationId":"deleteFolder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/athlete/{id}/events/{eventId}":{"get":{"tags":["Events"],"summary":"Get an event","operationId":"showEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Event"}}}}}},"put":{"tags":["Events"],"summary":"Update an event","operationId":"updateEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventEx"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Event"}}}}}},"delete":{"tags":["Events"],"summary":"Delete an event from an athlete's calendar","operationId":"deleteEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"others","in":"query","description":"If true then other events added at the same time are also deleted","required":false,"schema":{"type":"boolean"}},{"name":"notBefore","in":"query","description":"Do not delete other events on the calendar before this local date (ISO-8601)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/athlete/{id}/events/bulk-delete":{"put":{"tags":["Events"],"summary":"Delete events from an athlete's calendar by id or external_id","description":"Delete events by id or by external_id. If external_id is supplied then the event must have been created by the calling OAuth application. If both id and external_id are supplied then external_id is used. Events that do not exist are ignored.","operationId":"deleteEventsBulk","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DoomedEvent"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteEventsResponse"}}}}}}},"/api/v1/athlete/{id}/events":{"put":{"tags":["Events"],"summary":"Update all events for a date range at once. Only hide_from_athlete and athlete_cannot_edit can be updated","operationId":"updateEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local date (ISO-8601) of oldest event to update","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local date (ISO-8601) of newest event to update (inclusive)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}}}}}},"post":{"tags":["Events"],"summary":"Create an event on the athlete's calendar","description":"This endpoint accepts workouts in native Intervals.icu format ('description' field) as well as zwo, mrc, erg and fit files (use 'file_contents' or 'file_contents_base64')","operationId":"createEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventEx"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Event"}}}}}},"delete":{"tags":["Events"],"summary":"Delete a range of events from the athlete's calendar","operationId":"deleteEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local date (ISO-8601) of oldest event to delete","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local date (ISO-8601) of newest event to delete (inclusive, default is all future events)","required":false,"schema":{"type":"string"}},{"name":"createdById","in":"query","description":"If provided only events created by this athlete (created_by_id field) are deleted","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Comma separated list of event categories to delete (e.g. WORKOUT)","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/custom-item/{itemId}":{"get":{"tags":["Custom Items"],"summary":"Get a custom item","operationId":"getCustomItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomItem"}}}}}},"put":{"tags":["Custom Items"],"summary":"Update a custom item","operationId":"updateCustomItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomItem"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomItem"}}}}}},"delete":{"tags":["Custom Items"],"summary":"Delete a custom item","operationId":"deleteCustomItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/custom-item-indexes":{"put":{"tags":["Custom Items"],"summary":"Re-order custom items","operationId":"updateCustomItemIndexes","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomItem"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/apply-plan-changes":{"put":{"tags":["Library"],"summary":"Apply any changes from the athlete's current plan to the athlete's calendar","description":"Only workouts from today or in the future are updated","operationId":"applyCurrentPlanChanges","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/athlete/{id}":{"get":{"tags":["Athletes"],"summary":"Get the athlete with sportSettings and custom_items","operationId":"getAthlete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WithSportSettings"}}}}}},"put":{"tags":["Athletes"],"summary":"Update an athlete","operationId":"updateAthlete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AthleteUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Athlete"}}}}}}},"/api/v1/athlete/{athleteId}/sport-settings/{id}/apply":{"put":{"tags":["Sports"],"summary":"Apply sport settings to matching activities (updates zones), done asynchronously","operationId":"applyToActivities","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/athlete/{athleteId}/sport-settings/{id}":{"get":{"tags":["Sports"],"summary":"Get sport settings by id or activity type e.g. Run, Ride etc.","operationId":"getSettings_1","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SportSettings"}}}}}},"put":{"tags":["Sports"],"summary":"Update sport settings by id or activity type e.g. Run, Ride etc.","operationId":"updateSettings","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recalcHrZones","in":"query","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SportSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SportSettings"}}}}}},"delete":{"tags":["Sports"],"summary":"Delete sport settings","operationId":"deleteSettings","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/athlete/{athleteId}/sport-settings":{"get":{"tags":["Sports"],"summary":"List sport settings for the athlete","operationId":"listSettings","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SportSettings"}}}}}}},"put":{"tags":["Sports"],"summary":"Update multiple sport settings","operationId":"updateSettingsMulti","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"recalcHrZones","in":"query","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SportSettings"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SportSettings"}}}}}}},"post":{"tags":["Sports"],"summary":"Create settings for a sport with default values","operationId":"createSettings","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SportSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SportSettings"}}}}}}},"/api/v1/athlete-plans":{"put":{"tags":["Athletes"],"summary":"Change training plans for a list of athletes","operationId":"updateAthletePlans","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AthleteTrainingPlanUpdate"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/activity/{id}/split-interval":{"put":{"tags":["Activities"],"summary":"Split an interval","operationId":"splitInterval","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"splitAt","in":"query","description":"Index to split interval at","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IntervalsDTO"}}}}}}},"/api/v1/activity/{id}/intervals/{intervalId}":{"put":{"tags":["Activities"],"summary":"Update/create an interval","operationId":"updateInterval","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"intervalId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Interval"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IntervalsDTO"}}}}}}},"/api/v1/activity/{id}/intervals":{"get":{"tags":["Activities"],"summary":"Get activity intervals","operationId":"getIntervals","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IntervalsDTO"}}}}}},"put":{"tags":["Activities"],"summary":"Update intervals for an activity","operationId":"updateIntervals","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"all","in":"query","description":"Any existing intervals are replaced, otherwise a merge is done","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Interval"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IntervalsDTO"}}}}}}},"/api/v1/activity/{id}/delete-intervals":{"put":{"tags":["Activities"],"summary":"Delete intervals","operationId":"deleteIntervals","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Interval"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IntervalsDTO"}}}}}}},"/api/v1/activity/{id}":{"get":{"tags":["Activities"],"summary":"Get an activity","description":"An empty stub object is returned for Strava activities","operationId":"getActivity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"intervals","in":"query","description":"Include interval data","required":false,"schema":{"type":"boolean"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Activity"},{"$ref":"#/components/schemas/ActivityWithIntervals"},{"$ref":"#/components/schemas/Hidden"}]}}}}}},"put":{"tags":["Activities"],"summary":"Update activity","description":"Strava activities cannot be updated","operationId":"updateActivity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Activity"}}}}}},"delete":{"tags":["Activities"],"summary":"Delete an activity","operationId":"deleteActivity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivityId"}}}}}}},"/api/v1/shared-event":{"post":{"tags":["Shared Events"],"summary":"Create a shared event (e.g. race)","operationId":"createSharedEvent","parameters":[{"name":"linkToEventId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedEvent"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SharedEvent"}}}}}}},"/api/v1/download-workout{ext}":{"post":{"tags":["Library"],"summary":"Convert a workout to .zwo (Zwift), .mrc, .erg or .fit","description":"The athlete to use is extracted from the bearer token and used to resolve power targets etc.. Note that the create workout endpoint can convert workouts and might be more convenient.","operationId":"downloadWorkout","parameters":[{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workout"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/chats/send-message":{"post":{"tags":["Chats"],"summary":"Send a message","description":"Returns the new message id. If a new chat was created then it is also returned.","operationId":"sendMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewMessage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendResponse"}}}}}}},"/api/v1/athlete/{id}/workouts/bulk":{"post":{"tags":["Library"],"summary":"Create multiple new workouts in a folder or plan in the athlete's workout library","operationId":"createMultipleWorkouts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkoutEx"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Workout"}}}}}}}},"/api/v1/athlete/{id}/workouts":{"get":{"tags":["Library"],"summary":"List all the workouts in the athlete's library","operationId":"listWorkouts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Workout"}}}}}}},"post":{"tags":["Library"],"summary":"Create a new workout in a folder or plan in the athlete's workout library","description":"This endpoint accepts workouts in native Intervals.icu format ('description' field) as well as zwo, mrc, erg and fit files (use 'file_contents' or 'file_contents_base64')","operationId":"createWorkout","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkoutEx"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Workout"}}}}}}},"/api/v1/athlete/{id}/gear/{gearId}/replace":{"post":{"tags":["Gear"],"summary":"Retire a component and replace it with a copy with the same reminders etc.","operationId":"replaceGear","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Gear"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Gear"}}}}}}}},"/api/v1/athlete/{id}/gear/{gearId}/reminder":{"post":{"tags":["Gear"],"summary":"Create a new reminder","operationId":"createReminder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GearReminder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Gear"}}}}}}},"/api/v1/athlete/{id}/gear":{"post":{"tags":["Gear"],"summary":"Create a new gear or component","operationId":"createGear","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Gear"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Gear"}}}}}}},"/api/v1/athlete/{id}/folders/{folderId}/import-workout":{"post":{"tags":["Library"],"summary":"Create new workout from .zwo, .mrc, .erg or .fit file in a folder","operationId":"importWorkoutFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"athleteId","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Workout"}}}}}}},"/api/v1/athlete/{id}/folders":{"get":{"tags":["Library"],"summary":"List all the athlete's folders, plans and workouts","operationId":"listFolders","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Folder"}}}}}}},"post":{"tags":["Library"],"summary":"Create a new workout folder or plan","operationId":"createFolder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFolderDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Folder"}}}}}}},"/api/v1/athlete/{id}/events/{eventId}/mark-done":{"post":{"tags":["Events"],"summary":"Create a manual activity to match a planned workout","operationId":"markEventAsDone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Activity"}}}}}}},"/api/v1/athlete/{id}/events/bulk":{"post":{"tags":["Events"],"summary":"Create multiple events on the athlete's calendar","description":"This endpoint accepts workouts in native Intervals.icu format ('description' field) as well as zwo, mrc, erg and fit files (use 'file_contents' or 'file_contents_base64')","operationId":"createMultipleEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"upsert","in":"query","description":"Update events with matching external_id and created by the same OAuth application instead of creating new ones","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventEx"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}}}}}}},"/api/v1/athlete/{id}/duplicate-workouts":{"post":{"tags":["Library"],"summary":"Duplicate workouts on a plan","operationId":"duplicateWorkouts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateWorkoutsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Workout"}}}}}}}},"/api/v1/athlete/{id}/duplicate-events":{"post":{"tags":["Events"],"summary":"Duplicate one or more events on the athlete's calendar","operationId":"duplicateEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateEventsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}}}}}}},"/api/v1/athlete/{id}/download-workout{ext}":{"post":{"tags":["Library"],"summary":"Convert a workout to .zwo (Zwift), .mrc, .erg or .fit.","description":"The athlete's settings are used to resolve power targets etc.. Note that the create workout endpoint can convert workouts and might be more convenient.","operationId":"downloadWorkoutForAthlete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workout"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/download-fit-files":{"post":{"tags":["Activities"],"summary":"Download zip of Intervals.icu generated activity fit files","description":"Strava activities are not included","operationId":"downloadActivityFitFiles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"power","in":"query","description":"Include power data","required":false,"schema":{"type":"boolean","default":true}},{"name":"hr","in":"query","description":"Include heart rate data","required":false,"schema":{"type":"boolean","default":true}},{"name":"ids","in":"query","description":"Activity id's to download","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/custom-item/{itemId}/image":{"post":{"tags":["Custom Items"],"summary":"Upload a new image for a custom item as multipart/form-data","operationId":"updateCustomItemImage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomItem"}}}}}}},"/api/v1/athlete/{id}/custom-item":{"get":{"tags":["Custom Items"],"summary":"List custom items (charts, custom fields etc.)","operationId":"listCustomItems","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomItem"}}}}}}},"post":{"tags":["Custom Items"],"summary":"Create a custom item","operationId":"createCustomItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomItem"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NewCustomItem"}}}}}}},"/api/v1/athlete/{id}/activities/manual":{"post":{"tags":["Activities"],"summary":"Create a manual activity","operationId":"createManualActivity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Activity"}}}}}}},"/api/v1/athlete/{id}/activities":{"get":{"tags":["Activities"],"summary":"List activities for a date range in desc date order","description":"An empty stub object is returned for Strava activities","operationId":"listActivities","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local ISO-8601 date or date and time, defaults to now","required":false,"schema":{"type":"string"}},{"name":"route_id","in":"query","description":"Only return activities on this route","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Return at most this many activities ","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}}}},"post":{"tags":["Activities"],"summary":"Create new activities from an uploaded file (fit, tcx, gpx or zip or gz of the same) as multipart/form-data","description":"Use the 'file' form parameter to supply the uploaded file. Multisport files are split into multiple activities. Activities are de-duped using a hash of the file. Response code is 201 if at least one new activity was created and 200 otherwise (all dups).","operationId":"uploadActivity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Activity name","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Activity description","required":false,"schema":{"type":"string"}},{"name":"external_id","in":"query","description":"ID of the activity on the system it came from","required":false,"schema":{"type":"string"}},{"name":"paired_event_id","in":"query","description":"Workout to pair with activity","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{},"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Activity file","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadResponse"}}}}}}},"/api/v1/activity/{id}/messages":{"get":{"tags":["Chats"],"summary":"List all messages (comments) for the activity","operationId":"listActivityMessages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sinceId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}}}},"post":{"tags":["Chats"],"summary":"Add a message (comment) to an activity","operationId":"sendActivityMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewActivityMsg"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NewMsg"}}}}}}},"/api/v1/pace_distances":{"get":{"tags":["Sports"],"summary":"List pace curve distances","operationId":"listPaceDistances","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaceDistancesDTO"}}}}}}},"/api/v1/chats/{id}/messages":{"get":{"tags":["Chats"],"summary":"List messages for the chat, most recent first","operationId":"listMessages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"beforeId","in":"query","description":"Only return messages older than this one","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Return up to this many messages (default 30, max 100)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}}}}},"/api/v1/chats/{id}":{"get":{"tags":["Chats"],"summary":"Get a chat by id","operationId":"showChat","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Chat"}}}}}}},"/api/v1/athlete/{id}/workouts.zip":{"get":{"tags":["Events"],"summary":"Download one or more workouts from the athlete's calendar in a zip file","operationId":"downloadWorkouts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"query","description":"Format: zwo, mrc, erg or fit","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local date (ISO-8601) of oldest workout","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local date (ISO-8601) of newest workout (inclusive)","required":true,"schema":{"type":"string"}},{"name":"powerRange","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"hrRange","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"paceRange","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"locale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/workout-tags":{"get":{"tags":["Library"],"summary":"List all tags that have been applied to workouts in the athlete's library","operationId":"listTags","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/athlete/{id}/wellness{ext}":{"get":{"tags":["Wellness"],"summary":"List wellness records for date range (use .csv for CSV format)","operationId":"listWellnessRecords","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local date of oldest record (ISO-8601)","required":false,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local date of newest record (ISO-8601), inclusive","required":false,"schema":{"type":"string"}},{"name":"cols","in":"query","description":"Comma separated list of column names to include in CSV (default is all)","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Wellness"}}}}}}}},"/api/v1/athlete/{id}/weather-forecast":{"get":{"tags":["Weather"],"summary":"Get weather forecast information","operationId":"getForecast","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeatherDTO"}}}}}}},"/api/v1/athlete/{id}/settings/{deviceClass}":{"get":{"tags":["Athletes"],"summary":"Get the athlete's settings for phone, tablet or desktop","operationId":"getSettings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceClass","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/athlete/{id}/routes/{route_id}/similarity/{other_id}":{"get":{"tags":["Routes"],"summary":"How similar is this route to another?","description":"Returned routes include path information","operationId":"checkMerge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"route_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"other_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RouteSimilarity"}}}}}}},"/api/v1/athlete/{id}/routes":{"get":{"tags":["Routes"],"summary":"List routes for an athlete with activity counts","description":"The path (latlngs) is not included","operationId":"listAthleteRoutes","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WithCount"}}}}}}}},"/api/v1/athlete/{id}/profile":{"get":{"tags":["Athletes"],"summary":"Get athlete profile info","operationId":"getAthleteProfile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AthleteProfile"}}}}}}},"/api/v1/athlete/{id}/power-hr-curve":{"get":{"tags":["Activities"],"summary":"Get the athlete's power vs heart rate curve for a date range","operationId":"getPowerHRCurve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Starting local date (ISO-8601)","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Ending local date (ISO-8601), inclusive","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PowerHRCurve"}}}}}}},"/api/v1/athlete/{id}/power-curves{ext}":{"get":{"tags":["Activities"],"summary":"List best power curves for the athlete","description":"Curves are specified as follows: 1y (past year), 2y (past 2 years) etc., 42d (past 42 days) etc., s0 (current season), s1 (previous season) etc., all (all time), r.2023-10-01.2023-10-31 (date range). Curves can also have a -kj0 or -kj1 suffix to return fatigued curves. If several of f1, f2 and f3 filter parameters are specified then each curve is returned once for each filter, for comparing curves.","operationId":"listAthletePowerCurves","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","required":false,"schema":{"type":"string"}},{"name":"curves","in":"query","description":"Comma separated list of curves to return (default last year)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included","required":true,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}},{"name":"includeRanks","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"subMaxEfforts","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"now","in":"query","description":"Current local date (ISO-8601)","required":false,"schema":{"type":"string"}},{"name":"pmType","in":"query","required":false,"schema":{"type":"string","enum":["MS_2P","MORTON_3P","FFT_CURVES","ECP"]}},{"name":"filters","in":"query","description":"Only consider activities matching all the filters in this list","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f1","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f2","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f3","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataCurveSetPowerCurve"}}}}}}},"/api/v1/athlete/{id}/pace-curves{ext}":{"get":{"tags":["Activities"],"summary":"List best pace curves for the athlete","description":"Curves are specified as follows: 1y (past year), 2y (past 2 years) etc., 42d (past 42 days) etc., s0 (current season), s1 (previous season) etc., all (all time), r.2023-10-01.2023-10-31 (date range). If several of f1, f2 and f3 filter parameters are specified then each curve is returned once for each filter, for comparing curves.","operationId":"listAthletePaceCurves","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","required":false,"schema":{"type":"string"}},{"name":"curves","in":"query","description":"Comma separated list of curves to return (default last year)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included","required":false,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}},{"name":"includeRanks","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"subMaxEfforts","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"now","in":"query","description":"Current local date (ISO-8601)","required":false,"schema":{"type":"string"}},{"name":"gap","in":"query","description":"Return gradient adjusted pace curves","required":false,"schema":{"type":"boolean","default":false}},{"name":"pmType","in":"query","required":false,"schema":{"type":"string","enum":["CS"]}},{"name":"filters","in":"query","description":"Only consider activities matching all the filters in this list","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f1","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f2","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f3","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataCurveSetPaceCurve"}}}}}}},"/api/v1/athlete/{id}/mmp-model":{"get":{"tags":["Activities"],"summary":"Get the power model used to resolve %MMP steps in workouts for the athlete","operationId":"getAthleteMMPModel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PowerModel"}}}}}}},"/api/v1/athlete/{id}/hr-curves{ext}":{"get":{"tags":["Activities"],"summary":"List best heart rate curves for the athlete","description":"Curves are specified as follows: 1y (past year), 2y (past 2 years) etc., 42d (past 42 days) etc., s0 (current season), s1 (previous season) etc., all (all time), r.2023-10-01.2023-10-31 (date range). If several of the f1, f2 and f3 filter parameters are specified then each curve is returned once for each filter, for comparing curves.","operationId":"listAthleteHRCurves","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","required":false,"schema":{"type":"string"}},{"name":"curves","in":"query","description":"Comma separated list of curves to return (default last year)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included","required":false,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}},{"name":"subMaxEfforts","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"now","in":"query","description":"Current local date (ISO-8601)","required":false,"schema":{"type":"string"}},{"name":"filters","in":"query","description":"Only consider activities matching all the filters in this list","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f1","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f2","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"f3","in":"query","description":"If set each curve is returned with these filters applied to compare curves","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataCurveSetHRCurve"}}}}}}},"/api/v1/athlete/{id}/gear{ext}":{"get":{"tags":["Gear"],"summary":"List athlete gear (use .csv for CSV format)","operationId":"listGear","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Gear"}}}}}}}},"/api/v1/athlete/{id}/gear/{gearId}/calc":{"get":{"tags":["Gear"],"summary":"Recalculate gear stats","operationId":"calcDistanceEtc","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gearId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GearStats"}}}}}}},"/api/v1/athlete/{id}/fitness-model-events":{"get":{"tags":["Events"],"summary":"List events that influence the athlete's fitness calculation in ascending date order","description":"These have category FITNESS_DAYS (days for fitness and fatigue), SET_FITNESS (set starting fitness and fatigue) and SET_EFTP (set eFTP)","operationId":"listFitnessModelEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}}}}}}},"/api/v1/athlete/{id}/events/{eventId}/download{ext}":{"get":{"tags":["Events"],"summary":"Download a planned workout in zwo, mrc, erg or fit format","operationId":"downloadWorkout_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/event-tags":{"get":{"tags":["Events"],"summary":"List all tags that have been applied to events on the athlete's calendar","operationId":"listTags_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/athlete/{id}/chats":{"get":{"tags":["Chats"],"summary":"List chats for the athlete, most recently active first","description":"Only returns activity chats that have new_msg_count > 0 or that have been updated recently","operationId":"listChats","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Chat"}}}}}}}},"/api/v1/athlete/{id}/athlete-summary{ext}":{"get":{"tags":["Athletes"],"summary":"Summary information for followed athletes","operationId":"getAthleteSummary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Local date and optional time (ISO-8601) for oldest data to return, default is 6 days ago","required":false,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Local date and optional time (ISO-8601) for newest data to return, default is today","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Optional list of athlete tags, only athletes with one of these tags are returned","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SummaryWithCats"}}}}}}}},"/api/v1/athlete/{id}/activity-tags":{"get":{"tags":["Activities"],"summary":"List all tags that have been applied to the athlete's activities","operationId":"listTags_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/athlete/{id}/activity-power-curves{ext}":{"get":{"tags":["Activities"],"summary":"Get best power for a range of durations for matching activities in the date range","description":"Use ext of .csv to get results in CSV format","operationId":"listActivityPowerCurves","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local ISO-8601 date or date and time (inclusive)","required":true,"schema":{"type":"string"}},{"name":"filters","in":"query","description":"Only return activities matching all the filters in this list","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"secs","in":"query","description":"Optional durations to return (default is all, in seconds comma separated)","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"type","in":"query","description":"The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included. Required if fatigue is used","required":false,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}},{"name":"fatigue","in":"query","description":"Use kj0 or kj1 to get one of the athlete's predefined fatigued power curves","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivityPowerCurvePayload"}}}}}}},"/api/v1/athlete/{id}/activity-pace-curves{ext}":{"get":{"tags":["Activities"],"summary":"Get best pace for a range of distances for matching activities in the date range","description":"Use ext of .csv to get results in CSV format","operationId":"listActivityPaceCurves","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local ISO-8601 date or date and time (inclusive)","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included","required":false,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}},{"name":"filters","in":"query","description":"Only return activities matching all the filters in this list","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"distances","in":"query","description":"Distances required (in meters, comma separated)","required":false,"schema":{"type":"array","items":{"type":"number","format":"float"}}},{"name":"gap","in":"query","description":"Return gradient adjusted pace curves","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/activity-hr-curves{ext}":{"get":{"tags":["Activities"],"summary":"Get best HR for a range of durations for matching activities in the date range","description":"Use ext of .csv to get results in CSV format","operationId":"listActivityHRCurves","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local ISO-8601 date or date and time e.g. 2019-07-22T16:18:49 or 2019-07-22","required":true,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local ISO-8601 date or date and time (inclusive)","required":true,"schema":{"type":"string"}},{"name":"filters","in":"query","description":"Only return activities matching all the filters in this list","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityFilter"}}},{"name":"secs","in":"query","description":"Optional durations to return (default is all, in seconds comma separated)","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"type","in":"query","description":"The sport (Ride, Run etc.). If filters is not provided or is blank or does not contain a type filter then activities for the types of the sport matching this parameter are included","required":false,"schema":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivityHRCurvePayload"}}}}}}},"/api/v1/athlete/{id}/activities/search-full":{"get":{"tags":["Activities"],"summary":"Search for activities by name or tag, returns full activities","operationId":"searchForActivitiesFull","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query, case insensitive name search or exact tag search if it starts with #","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}}}}},"/api/v1/athlete/{id}/activities/search":{"get":{"tags":["Activities"],"summary":"Search for activities by name or tag, returns summary info","operationId":"searchForActivities","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query, case insensitive name search or exact tag search if it starts with #","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivitySearchResult"}}}}}}}},"/api/v1/athlete/{id}/activities/interval-search":{"get":{"tags":["Activities"],"summary":"Find activities with intervals matching duration and intensity","description":"Activities returned most recent first","operationId":"searchForIntervals","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"minSecs","in":"query","description":"Min time in seconds","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"maxSecs","in":"query","description":"Max time in seconds","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"minIntensity","in":"query","description":"Min intensity percentage","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"maxIntensity","in":"query","description":"Max intensity percentage","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"Interval type","required":false,"schema":{"type":"string","enum":["AUTO","POWER","HR","PACE"]}},{"name":"minReps","in":"query","description":"Min number of intervals that need to match","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"maxReps","in":"query","description":"Max number of intervals that need to match","required":false,"schema":{"type":"integer","format":"int32","default":999999}},{"name":"limit","in":"query","description":"Max results to return","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}}}}},"/api/v1/athlete/{id}/activities.csv":{"get":{"tags":["Activities"],"summary":"Download activities as CSV","operationId":"downloadActivitiesAsCSV","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/athlete/{id}/activities-around":{"get":{"tags":["Activities"],"summary":"List activities before and after another activity in closest first order","description":"An empty stub object is returned for Strava activities","operationId":"listActivitiesAround","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"activity_id","in":"query","description":"The activity at the center (not returned in the data set)","required":true,"schema":{"type":"string"}},{"name":"route_id","in":"query","description":"Only return activities on this route (activityId must have this route_id)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Return at most this many activities (default 30)","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}}}}},"/api/v1/athlete/{athleteId}/sport-settings/{id}/pace_distances":{"get":{"tags":["Sports"],"summary":"List pace curve distances and best effort defaults for the sport","operationId":"listPaceDistancesForSport","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaceDistancesDTO"}}}}}}},"/api/v1/athlete/{athleteId}/sport-settings/{id}/matching-activities":{"get":{"tags":["Sports"],"summary":"List activities matching the settings","operationId":"listMatchingActivities","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityMini"}}}}}}}},"/api/v1/athlete/{athleteId}/activities/{ids}":{"get":{"tags":["Activities"],"summary":"Fetch multiple activities by id. Missing activities are ignored","description":"Strava activities are returned as empty stubs","operationId":"getActivities","parameters":[{"name":"athleteId","in":"path","required":true,"schema":{"type":"string"}},{"name":"ids","in":"path","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"intervals","in":"query","description":"Include interval data (icu_intervals and icu_groups fields)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}}}}},"/api/v1/activity/{id}/weather-summary":{"get":{"tags":["Activities"],"summary":"Get activity weather summary information","operationId":"getActivityWeatherSummary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"start_index","in":"query","description":"Optional index of first point in activity to use","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"end_index","in":"query","description":"Optional index of last point in activity to use (exclusive)","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivityWeatherSummary"}}}}}}},"/api/v1/activity/{id}/time-at-hr":{"get":{"tags":["Activities"],"summary":"Get activity time at heart rate data","operationId":"getTimeAtHR","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Plot"}}}}}}},"/api/v1/activity/{id}/streams{ext}":{"get":{"tags":["Activities"],"summary":"List streams for the activity","description":"Note that this endpoint will return 'fixed_watts' as 'watts'. If 'raw_watts' is asked for or types is null then the 'watts' stream is renamed to 'raw_watts'. If ext is .csv then CSV data is returned instead of JSON","operationId":"getActivityStreams","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"types","in":"query","description":"Streams required","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActivityStream"}}}}}}}},"/api/v1/activity/{id}/segments":{"get":{"tags":["Activities"],"summary":"Get activity segments","operationId":"getActivitySegments","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IcuSegment"}}}}}}}},"/api/v1/activity/{id}/power-vs-hr{ext}":{"get":{"tags":["Activities"],"summary":"Get activity power vs heart rate data in JSON or CSV (use .csv ext) format","operationId":"getPowerVsHR","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PowerVsHRPlot"}}}}}}},"/api/v1/activity/{id}/power-spike-model":{"get":{"tags":["Activities"],"summary":"Get activity power spike detection model","operationId":"getActivityPowerSpikeModel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PowerModel"}}}}}}},"/api/v1/activity/{id}/power-histogram":{"get":{"tags":["Activities"],"summary":"Get activity power histogram","operationId":"getPowerHistogram","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bucketSize","in":"query","description":"Watts per bucket (default 25)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bucket"}}}}}}}},"/api/v1/activity/{id}/power-curve{ext}":{"get":{"tags":["Activities"],"summary":"Get activity power curve in JSON or CSV (use .csv ext) format","operationId":"getActivityPowerCurve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"fatigue","in":"query","description":"Use kj0 or kj1 to get one of the athlete's predefined fatigued power curves","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PowerCurve"}}}}}}},"/api/v1/activity/{id}/power-curves{ext}":{"get":{"tags":["Activities"],"summary":"Get activity power curves for one or more streams in JSON or CSV (use .csv ext) format","operationId":"listActivityPowerCurves_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}},{"name":"types","in":"query","description":"Comma separated list of streams required (default is watts)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"fatigue","in":"query","description":"Comma separated list of normal, kj0 or kj1 to return normal and/or fatigued curves","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PowerCurve"}}}}}}}},"/api/v1/activity/{id}/pace-histogram":{"get":{"tags":["Activities"],"summary":"Get activity pace histogram","operationId":"getPaceHistogram","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bucket"}}}}}}}},"/api/v1/activity/{id}/pace-curve{ext}":{"get":{"tags":["Activities"],"summary":"Get activity pace curve in JSON or CSV (use .csv ext) format","operationId":"getActivityPaceCurve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"gap","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaceCurve"}}}}}}},"/api/v1/activity/{id}/map":{"get":{"tags":["Activities"],"summary":"Get activity map data","operationId":"getActivityMap","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bounds","in":"query","description":"Optional comma separated bounding box (left, top, right, bottom) to limit points returned","required":false,"schema":{"type":"array","items":{"type":"number","format":"float"}}},{"name":"boundsOnly","in":"query","description":"Only return the map bounds, not the latlngs","required":false,"schema":{"type":"boolean","default":false}},{"name":"weather","in":"query","description":"Include weather points if available","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapData"}}}}}}},"/api/v1/activity/{id}/interval-stats":{"get":{"tags":["Activities"],"summary":"Return interval like stats for part of the activity","operationId":"getIntervalStats","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"start_index","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"end_index","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Interval"}}}}}}},"/api/v1/activity/{id}/hr-load-model":{"get":{"tags":["Activities"],"summary":"Get activity heart rate training load model","operationId":"getHRTrainingLoadModel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HRLoadModel"}}}}}}},"/api/v1/activity/{id}/hr-histogram":{"get":{"tags":["Activities"],"summary":"Get activity heart rate histogram","operationId":"getHRHistogram","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bucketSize","in":"query","description":"Beats per bucket (default 5)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bucket"}}}}}}}},"/api/v1/activity/{id}/hr-curve{ext}":{"get":{"tags":["Activities"],"summary":"Get activity heart rate curve in JSON or CSV (use .csv ext) format","operationId":"getActivityHRCurve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ext","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HRCurve"}}}}}}},"/api/v1/activity/{id}/gpx-file":{"get":{"tags":["Activities"],"summary":"Download Intervals.icu generated activity gpx file","description":"Not supported for Strava activities and activities without GPS data","operationId":"downloadActivityGpxFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"power","in":"query","description":"Include power data","required":false,"schema":{"type":"boolean","default":true}},{"name":"hr","in":"query","description":"Include heart rate data","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/activity/{id}/gap-histogram":{"get":{"tags":["Activities"],"summary":"Get activity gradient adjusted pace histogram","operationId":"getGapHistogram","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bucket"}}}}}}}},"/api/v1/activity/{id}/fit-file":{"get":{"tags":["Activities"],"summary":"Download Intervals.icu generated activity fit file","description":"Not supported for Strava activities","operationId":"downloadActivityFitFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"power","in":"query","description":"Include power data","required":false,"schema":{"type":"boolean","default":true}},{"name":"hr","in":"query","description":"Include heart rate data","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/activity/{id}/file":{"get":{"tags":["Activities"],"summary":"Download original activity file, Strava activities not supported","operationId":"downloadActivityFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/activity/{id}/best-efforts":{"get":{"tags":["Activities"],"summary":"Find best efforts in the activity","description":"One of duration or distance is required","operationId":"findBestEfforts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"stream","in":"query","description":"Stream to search","required":true,"schema":{"type":"string"}},{"name":"duration","in":"query","description":"Duration of each effort in seconds","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"distance","in":"query","description":"Distance of each effort in meters","required":false,"schema":{"type":"number","format":"float"}},{"name":"count","in":"query","description":"Number of efforts to return","required":false,"schema":{"type":"integer","format":"int32","default":8}},{"name":"minValue","in":"query","description":"Minimum average value for each interval, intervals will expand if specified","required":false,"schema":{"type":"number","format":"float"}},{"name":"excludeIntervals","in":"query","description":"If true portions of the stream that are included in work intervals are not considered","required":false,"schema":{"type":"boolean","default":false}},{"name":"startIndex","in":"query","description":"First point in stream to consider","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"endIndex","in":"query","description":"Last point in stream to consider (exclusive, default is whole stream)","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BestEfforts"}}}}}}},"/api/v1/athlete/{id}/events{format}":{"get":{"tags":["Events"],"summary":"List events (planned workouts, notes etc.) on the athlete's calendar, add .csv for CSV output","operationId":"listEvents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"format","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldest","in":"query","description":"Local date (ISO-8601) for oldest event to return, default is today in the athletes timezone","required":false,"schema":{"type":"string"}},{"name":"newest","in":"query","description":"Local date (ISO-8601) for newest event to return (inclusive), default is oldest plus 6 days","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Comma separated list of categories to filter for (e.g. WORKOUT,NOTES)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"limit","in":"query","description":"Max number of events to return (default is all events)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"calendar_id","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"ext","in":"query","description":"Convert workouts to this format (zwo, mrc, erg or fit) and add workout_filename and workout_file_base64 to workout object","required":false,"schema":{"type":"string"}},{"name":"powerRange","in":"query","description":"Percentage used to convert fixed power targets into a range for outdoor workouts only (default is 2.5 or whatever is configured in the Garmin box in /settings)","required":false,"schema":{"type":"number","format":"double"}},{"name":"hrRange","in":"query","description":"Percentage used to convert fixed HR targets into a range (default is 1.5 or whatever is configured in the Garmin box in /settings)","required":false,"schema":{"type":"number","format":"double"}},{"name":"paceRange","in":"query","description":"Percentage used to convert fixed pace targets into a range (default is 2.5 or whatever is configured in the Garmin box in /settings)","required":false,"schema":{"type":"number","format":"double"}},{"name":"locale","in":"query","description":"Locale (en, es, de etc.) to use for workouts with steps in multiple languages","required":false,"schema":{"type":"string"}},{"name":"resolve","in":"query","description":"Resolve power, heart rate and pace targets to watts, bpm and m/s respectively","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}}}}}}},"/api/v1/disconnect-app":{"delete":{"tags":["o-auth-server-controller"],"summary":"Disconnect the athlete from the app matching the bearer token","operationId":"disconnectApp","responses":{"401":{"description":"Missing or invalid access token"},"200":{"description":"Success"}}}},"/api/v1/chats/{id}/messages/{msgId}":{"delete":{"tags":["Chats"],"summary":"Delete a message","operationId":"deleteMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"msgId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"AthleteSearchResult":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"profile_medium":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"timezone":{"type":"string"},"sex":{"type":"string"},"bio":{"type":"string"},"website":{"type":"string"},"email":{"type":"string"}}},"SharedEvent":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"external_id":{"type":"string"},"athlete_id":{"type":"string"},"category":{"type":"string","enum":["RACE","WORKOUT"]},"types":{"type":"array","items":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","OpenWaterSwim","Padel","Pilates","Pickleball","Racquetball","Rugby","RockClimbing","RollerSki","Rowing","Sail","Skateboard","Snowboard","Snowshoe","Soccer","Squash","StairStepper","StandUpPaddling","Surfing","TableTennis","Tennis","TrailRun","Transition","Velomobile","VirtualRide","VirtualRow","VirtualRun","WaterSport","Wheelchair","Windsurf","Workout","Yoga","Other"]}},"name":{"type":"string"},"start_date_local":{"type":"string"},"visibility":{"type":"string","enum":["PUBLIC","GROUP"]},"chat_id":{"type":"integer","format":"int32"},"description":{"type":"string"},"website":{"type":"string"},"closing_date_local":{"type":"string"},"location":{"type":"string"},"address":{"type":"string"},"country":{"type":"string"},"region":{"type":"string"},"lat":{"type":"number","format":"float"},"lon":{"type":"number","format":"float"},"route_file":{"type":"string"},"polyline":{"type":"string"},"usage_count":{"type":"integer","format":"int32"},"owner":{"$ref":"#/components/schemas/AthleteSearchResult"}}},"Attachment":{"type":"object","properties":{"id":{"type":"string"},"filename":{"type":"string"},"mimetype":{"type":"string"},"url":{"type":"string"}}},"WorkoutEx":{"type":"object","properties":{"athlete_id":{"type":"string"},"id":{"type":"integer","format":"int32"},"icu_training_load":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"indoor":{"type":"boolean"},"color":{"type":"string"},"moving_time":{"type":"integer","format":"int32"},"updated":{"type":"string","format":"date-time"},"joules":{"type":"integer","format":"int32"},"joules_above_ftp":{"type":"integer","format":"int32"},"workout_doc":{"type":"object","additionalProperties":{"type":"object"}},"folder_id":{"type":"integer","format":"int32"},"day":{"type":"integer","format":"int32"},"days":{"type":"integer","format":"int32"},"plan_applied":{"type":"string","format":"date-time"},"hide_from_athlete":{"type":"boolean"},"target":{"type":"string","enum":["AUTO","POWER","HR","PACE"]},"targets":{"type":"array","items":{"type":"string","enum":["AUTO","POWER","HR","PACE"]}},"carbs_per_hour":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"type":"string"}},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"time":{"type":"string"},"sub_type":{"type":"string","enum":["NONE","COMMUTE","WARMUP","COOLDOWN","RACE"]},"for_week":{"type":"boolean"},"file_contents":{"type":"string"},"file_contents_base64":{"type":"string"},"filename":{"type":"string"},"distance":{"type":"number","format":"float"},"icu_intensity":{"type":"number","format":"float"}}},"Workout":{"type":"object","properties":{"athlete_id":{"type":"string"},"id":{"type":"integer","format":"int32"},"icu_training_load":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"indoor":{"type":"boolean"},"color":{"type":"string"},"moving_time":{"type":"integer","format":"int32"},"updated":{"type":"string","format":"date-time"},"joules":{"type":"integer","format":"int32"},"joules_above_ftp":{"type":"integer","format":"int32"},"workout_doc":{"type":"object","additionalProperties":{"type":"object"}},"folder_id":{"type":"integer","format":"int32"},"day":{"type":"integer","format":"int32"},"days":{"type":"integer","format":"int32"},"plan_applied":{"type":"string","format":"date-time"},"hide_from_athlete":{"type":"boolean"},"target":{"type":"string","enum":["AUTO","POWER","HR","PACE"]},"targets":{"type":"array","items":{"type":"string","enum":["AUTO","POWER","HR","PACE"]}},"carbs_per_hour":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"type":"string"}},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"time":{"type":"string"},"sub_type":{"type":"string","enum":["NONE","COMMUTE","WARMUP","COOLDOWN","RACE"]},"for_week":{"type":"boolean"},"distance":{"type":"number","format":"float"},"icu_intensity":{"type":"number","format":"float"}}},"SportInfo":{"type":"object","properties":{"type":{"type":"string","enum":["Ride","Run","Swim","WeightTraining","Hike","Walk","AlpineSki","BackcountrySki","Badminton","Canoeing","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","Golf","GravelRide","TrackRide","Handcycle","HighIntensityIntervalTraining","Hockey","IceSkate","InlineSkate","Kayaking","Kitesurf
[...]
